{% load static %}

<!doctype html>
<html class="no-js h-100" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Bukhosi Pet Adoptions</title>
    <meta name="description" content="The is a pet adoption app">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">    
    <link rel="preconnect" href="{% static 'css/all.css' %}" >
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" >    
    <link rel="stylesheet" id="main-stylesheet" data-version="1.1.0" href=" {% static 'styles/shards-dashboards.1.1.0.min.css' %} ">
    <link rel="stylesheet"  href=" {% static 'styles/extras.1.1.0.min.css' %} ">
    <script async defer src="{% static 'js/buttons.js' %}"></script>
  </head>

  <body class="d-flex flex-column min-vh-100" class="  h-100">
Bukhosi Moyo
    {% block content %}
    
      
    {% endblock content %}


      <script src="{% static 'js/jquery-3.3.1.min.js' %}" ></script>
      <script src="{% static 'js/popper.min.js' %}" ></script>
      <script src="{% static 'css/bootstrap.min.css' %}" ></script>
      <script src="{% static 'js/Chart.min.js' %}"></script>
      <script src="{% static 'js/shards.min.js' %}"></script>
      <script src="{% static 'js/jquery.sharrre.min.js' %}"></script>
      <script src=" {% static 'scripts/extras.1.1.0.min.js' %} "></script>
      <script src=" {% static 'scripts/shards-dashboards.1.1.0.min.js' %} "></script>
      <script src=" {% static 'scripts/app/app-blog-overview.1.1.0.js' %} "></script>
      <script src="{% static 'js/jquery-3.3.1.slim.min.js' %}" ></script>
    </body>
</html>
